# Default owners for everything in the repo.
* @stacykor @kimsauce @JainM6 @jpipkin1 @JV0812

# Owners of all files in the `/docs` directory and its subdirectories.
/docs/   @kimsauce @stacykor @JainM6 @jpipkin1 @JV0812

# Owners of all files in the `/docs/send-data/opentelemetry-collector` directory and its subdirectories.
/docs/send-data/opentelemetry-collector/  @SumoLogic/open-source-collection-team @kimsauce @stacykor @jpipkin1 @JV0812

# GitHub workflow owners
/.github/workflows/ @SumoLogic/open-source-collection-team @kimsauce
