# Default owners for everything in the repo.
* @kimsauce @jpipkin1 @JV0812 @mafsumo

# Owners of all files in the `/docs` directory and its subdirectories.
/docs/   @kimsauce @jpipkin1 @JV0812 @mafsumo

# Owners of all files in the `/docs/send-data/kubernetes` directory.
/docs/send-data/kubernetes/  @sumologic-opensource-collection @kimsauce @jpipkin1 @JV0812 @mafsumo

# Owners of all files in the `/docs/send-data/opentelemetry-collector` directory and its subdirectories.
/docs/send-data/opentelemetry-collector/  @sumologic-opensource-collection @kimsauce @jpipkin1 @mafsumo @JV0812

# GitHub workflow owners
/.github/workflows/ @sumologic-opensource-collection @kimsauce
