.dropdown--show .link__label {
  color: var(--ifm-navbar-link-hover-color);
}

.link__label {
    font-size: 0.75rem !important;
}

[data-theme='dark'] .link__label:hover {
  color: var(--ifm-navbar-link-hover-color);
}

[data-theme='light'] .link__label:hover {
  color: var(--ifm-navbar-link-hover-color);
}

.link {
  display: inline-flex;
  align-items: center;
}

.link__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .5rem;
  background-color: var(--ifm-color-emphasis-200);
  color: var(--ifm-dropdown-link-color);
  border-radius: var(--ifm-global-radius);
  width: 1.75rem;
  height: 1.75rem;
}

.link__sublabel {
  color: var(--ifm-menu-color);
  font-size: 0.8rem;
}

.link__icon {
  font-family: 'Material Icons' !important;
  font-size: 1.25rem;
}

[data-theme='dark'] .link__icon {
  color: #fff;
}

[data-theme='light'] .link__icon {
  color: #35599d;
}
