// SIDEBAR Links
.menu__link {
    font-size: .85rem;
    //justify-content: normal !important;
    padding: var(--ifm-menu-link-padding-vertical) 1.5rem;
  }

  .menu__link--active {
    color: var(--ifm-menu-color-active);
    //border-left: 4px solid var(--ifm-font-color-primary);
  }

  .menu__link--sublist:before {
    content: '';
    min-width: 1.25rem;
    background: var(--ifm-menu-link-sublist-icon-open) center / contain no-repeat;
    filter: none;
    height: 100%;
    transform: none;
    /* width: 100%; */
    transition: none;
    margin-left: -19px;
    padding-left: 3px;
  }

  .menu__list-item--collapsed {
    .menu__link--sublist:before {
      content: '';
      //min-width: 1.25rem;
      background: var(--ifm-menu-link-sublist-icon) center / contain no-repeat;
      filter: none;
      height: 90%;
      transform: none;
      /* width: 100%; */
      transition: none;
      margin-left: -19px;
      padding-left: 3px;
    }
  }

  .menu__link--sublist:after {
    content: '';
    //min-width: 1.25rem;
    background: none;
    filter: var(--ifm-menu-link-sublist-icon-filter);
    height: 90%;
    transform: none;
    /* width: 100%; */
    transition: none;
    margin-left: -15px;
  }

  .menu__list-item--collapsed {

    .menu__link--sublist:after {
      content: '';
      min-width: 1.25rem;
      background: none;
      filter: var(--ifm-menu-link-sublist-icon-filter);
      height: 100%;
      transform: none;
      /* width: 100%; */
      transition: none;
    }
  }



  .menu__list-item-collapsible--active {
    background: var(--ifm-menu-link-sublist-icon-open) center / contain no-repeat;
    height: 100%;
  }

  .menu__list-item-collapsible:hover, .menu__link:hover, .menu__caret:hover {
    background: transparent;
  }

  .menu__link:hover, .menu__caret:hover {
    color: var(--ifm-color-primary-darker);
  }

  .menu__list-item--collapsed .menu__link--sublist:after, .menu__list-item--collapsed .menu__caret:before {
    transform: none;
  }

  .menu__link--active:not(.menu__link--sublist) {
    background: none;
  }

html[data-theme='dark'] .menu__list-item-collapsible--active {
  background: none;
}
