/* search CSS */

#ss360-section__input p {
  color: #000000;
}

.ss360-custom-search__searchbox {
  color: #000000;
}

.ss360-n-input {
  color: #000000;
}

.ss360-section__input {
  color: #000000;
}
