/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

// Fonts!
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v118/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url("fonts/lab-grotesque/LabGrotesque-Regular.otf") format("opentype"); }

@font-face {
  font-family: 'Lab Grotesque';
  font-weight: bold;
  src: url("fonts/lab-grotesque/LabGrotesque-Bold.otf") format("opentype"); }

@font-face {
  font-family: 'Lab Grotesque Light';
  font-weight: normal;
  src: url("fonts/lab-grotesque/LabGrotesque-Light.otf") format("opentype"); }

@font-face {
  font-family: 'Lab Grotesque Light';
  font-weight: normal;
  font-style: italic;
  src: url("fonts/lab-grotesque/LabGrotesque-LightItalic.otf") format("opentype"); }

@font-face {
  font-family: 'Fira Mono';
  src: url(fonts/fira-mono/FiraMono-Regular.ttf);
}

:root {
  --ifm-color-primary: #3578e5;
  --ifm-color-primary-dark: #1d68e1;
  --ifm-color-primary-darker: #1b62d4;
  --ifm-color-primary-darkest: #1751af;
  --ifm-color-primary-light: #4e89e8;
  --ifm-color-primary-lighter: #5a91ea;
  --ifm-color-primary-lightest: #80aaef;
  --ifm-color-border-pale: rgba(29, 43, 69, .20);
  --ifm-code-font-size: 95%;
  --ifm-font-family-headings: Roboto, 'Segoe UI';
  --ifm-font-family-base: Roboto,sans-serif;
  --ifm-menu-link-padding-horizontal: 1rem;
  --ifm-menu-link-padding-vertical: 0.2rem;
  --ifm-footer-link-hover-color: #06bcee;
  //--ifm-menu-link-sublist-icon: url('folder.png');
  //--ifm-menu-link-sublist-icon-open: url('folder-open.png');
  --ifm-font-size-base: 1.1rem;
  --doc-sidebar-width: 275px !important;
  --ifm-h1-font-size: 2rem;
  --ifm-h2-font-size: 1.5rem;
  --ifm-h3-font-size: 1.25rem;
  --ifm-h4-font-size: 1rem;
  --ifm-h5-font-size: 0.875rem;
  --ifm-h6-font-size: 0.85rem;
  --ifm-navbar-link-hover-color: #06bcee;
  --ifm-code-font-size: .85rem;
  --ifm-font-family-base: "Lab Grotesque",sans-serif;
  --ifm-font-family-headings: "Lab Grotesque", "Segoe UI";

}

.navbar__item {
  font-size: .85rem;
}

@media (min-width: 1440px) {
  .container {
      max-width: 97%;
  }
}

.table-of-contents .table-of-contents__link {
  font-size: .75rem !important;
  display: block;
}

html[data-theme='dark'] {
  --ifm-background-color: #101827;
  --ifm-navbar-background-color: #101827;
  --collapse-button-bg-color-dark: transparent !important;
  --ifm-toc-border-color: rgba(29, 43, 69, .9);
  --ifm-code-background: #172b42;
  --ifm-dropdown-background-color: #1A253B;
  --ifm-footer-background-color: #1a273f;
  --ifm-table-stripe-background: rgba(29, 43, 69, .50);
  --ifm-table-head-background: rgba(0, 164, 219, 0.35);
  --ifm-table-border-color: rgba(59, 91, 110, 0.35);
  .button--secondary {
    --ifm-color-emphasis-200: rgba(53, 120, 229, .25);
  }
  g {
    fill: var(--ifm-color-primary);
  }
  .toggle {
    background-color: #2b4472;
  }
  .tabs__item--active {
    color: #fff;
  }
  article .card {
    background-color: rgb(53, 120, 229, .10);
    border-color: rgba(187, 199, 218, 0.10);
    border-radius: 0px;
    h2 {
      font-size: 1.1rem !important;
    }
  }
  article .card:hover {
    border-color: var(--ifm-pagination-nav-color-hover);
  }
  .docusaurus-highlight-code-line {
    background-color: rgb(46, 149, 255,.2);
  }
  pre {
    background-color: rgba(84, 84, 84, 0.4) !important;

  }
  .markdown::after {
      display: none !important;
  }
  .codeBlockTitle {
    background-color: rgba(41, 98, 155, 0.4) !important;
    border-bottom: 1px solid #2b5893;
  }
  .breadcrumbsItemLink_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocBreadcrumbs-styles-module {
    background-color: rgb(53, 120, 229, .00) !important;
    border-radius: 0px !important;
  }
}

html[data-theme='light'] {
  --ifm-background-color: #fff;
  --ifm-navbar-background-color: #fff;
  --ifm-toc-border-color: rgba(29, 43, 69, .3);
  --ifm-font-color-base: #2e2e2e;
  --ifm-footer-background-color: #1a273f;
  --ifm-menu-color: var(--ifm-font-color-base);
  --ifm-table-stripe-background: rgb(241, 244, 247);
  --ifm-table-head-background: rgba(0, 139, 178, 0.397);
  --ifm-table-border-color: rgba(25, 43, 54, 0.35);
  .button--secondary {
    --ifm-button-border-color: rgba(53, 120, 229, .25);
  }
  g {
    fill: var(--ifm-color-primary);
  }
  .navbar {
    border-bottom: 1px solid var(--ifm-toc-border-color);
  }
  .tabs__item--active {
    color: #2e2e2e;
  }
  .toggle {
    background-color: #c3e9ff;
  }
  article .card {
    border-radius: 0px;
    border-color: rgba(118, 156, 218, 0.2);
    h2 {
      font-size: 1.1rem !important;
    }
  }
  article .card:hover {
      border-color: var(--ifm-pagination-nav-color-hover);
  }
  .docusaurus-highlight-code-line {
    background-color: rgb(0, 139, 178,.1);
  }
  pre {
    background-color: rgba(242 244 245) !important;

  }
  .codeBlockTitle {
    background-color: rgba(0, 139, 178, 0.4) !important;
    border-bottom: 1px solid #0095bd;
  }
  .markdown::after {
      display: none !important;
  }
  .breadcrumbsItemLink_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocBreadcrumbs-styles-module {
    background-color: transparent !important;
    border-radius: 0px !important;
  }
}

.medium-zoom-overlay {
  background:rgba(0, 0, 0, 0.6) !important;
}

.DocSearch-Button-Placeholder {
  font-size: .85rem !important;
  min-width: 85px;
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  margin-top: 7px;
  display: inline-flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.header-github-link::after {
    display: none !important;
    content: none !important;
}

[data-theme='dark'] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}



.header-trial:hover {
  opacity: 0.85;
}

.header-trial::before {
  content: 'Start free trial';
  border: 1px solid #2aa1e6;
  color: #FFF;
  border-radius: 3px;
  padding: 4px 10px;
  font-size: 14px;
  display: inline-flex;
  background: #2aa1e6;
}

.header-trial::after {
    display: none !important;
    content: none !important;
}

[data-theme='dark'] .header-trial::before {
  background: transparent;
  border: 1px solid #2aa1e6;
  color: #FFF;
  display: inline-flex;
  background: #2aa1e6;
}


.markdown {
  h1 {
    font-size: 2rem !important;
  }
  h2 {
    font-size: 1.6rem !important;
  }
  h3 {
    font-size: 1.3rem !important;
  }
  h4 {
    font-size: 1.1rem !important;
  }
  h5 {
    font-size: .9rem !important;
  }
}

// SIDEBAR Links
.menu__list-item {
  .menu__link {
    padding: 5px 8px;
  }

  button {
    padding-left: 4px;
    padding-right: 4px;
  }
}

.menu__list-item-collapsible {
  font-weight: bold;
  text-transform: none;
  padding: 0px 0px;
}
.menu__link {
  font-size: .8rem;
  line-height: normal;
}

.menu__list-item-collapsible {
  font-weight: bold;
  text-transform: none;
}
.menu__link {
  font-size: .8rem;
  //justify-content: normal !important;
  padding: var(--ifm-menu-link-padding-vertical) .3rem;
  line-height: normal;
}

.menu__link--active {
  color: var(--ifm-menu-color-active);
  //border-left: 4px solid;
}

.menu__caret {
  padding: 0;
}

.menu__caret:before {
    content: '';
    background: var(--ifm-menu-link-sublist-icon) 50% / 2rem 2rem;
    filter: var(--ifm-menu-link-sublist-icon-filter);
    height: 1.25rem;
    transform: rotate(
180deg);
    width: 1.25rem;
    transition: transform var(--ifm-transition-fast) linear;
}

.menu__link--sublist:after {
  height:auto;
}

// code highlights

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: --ifm-toc-border-color;
}

// TOC

html[data-theme='dark'] .table-of-contents__left-border {
  border-left: 1px solid var(--ifm-toc-border-color);
}

html[data-theme='light'] .table-of-contents__left-border {
  border-left: 1px solid var(--ifm-toc-border-color);
}

.table-of-contents {
  li {
    margin: 7px var(--ifm-toc-padding-vertical);
  }

  ul {
    padding-left: 0.35rem;

    li {
      margin: 4px var(--ifm-toc-padding-vertical);
      .table-of-contents__link--active {
        font-weight: 500;
        margin-left: -27px;
        padding-left: 23px;
        border-left: 4px solid;
    }
    }
  }

  .table-of-contents__link {
    font-size: 12px;
    display: block;

    code {
      background: none;
      padding: 0;
      border: 0;
    }
  }

  .table-of-contents__link--active {
    font-weight: 500;
    margin-left: -18px;
    padding-left: 12px;
    //color: var(--ifm-font-color-primary);
    border-left: 4px solid;

    code {
      font-weight: 600;
      color: var(--ifm-font-color-base);
      white-space: nowrap;
    }
  }
}

/* Pill tabs */

.markdown .tabs {
  border-bottom: 1px solid var(--ifm-toc-border-color);
  color: var(--ifm-font-color-base);
}

.tabs-container {
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

.markdown .tabs.pill-tabs {
  border-bottom: 0;

  .tabs__item {
    margin-right: 10px;
    border-radius: var(--ifm-global-radius);
    border: 2px solid var(--ifm-table-border-color);

    &:hover {
      border-radius: var(--ifm-global-radius);
    }

    &.tabs__item--active {
      border-color: var(--ifm-toc-border-color);
    }
  }
}

// NAVBAR
.navbar__logo {
  align-items: center;
  display: flex;
}

.navbar__logo img {
  height: 70%;
}

.navbar-item-github:hover {
  opacity: 0.6;
}
.navbar-item-github:before {
  margin-left: -1rem;
  margin-top: 1px;
  content: '';
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

html[data-theme='dark'] .navbar-item-github:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-grid-menu:after {
  transition: opacity 0.2s;
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white' width='24px' height='24px'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 9h12v2H6V9zm8 5H6v-2h8v2zm4-6H6V6h12v2z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
}

.navbar-grid-menu:hover:after {
  opacity: 0.5;
}

.navbar-grid-menu:after, .navbar-github-link:after {
  border-style: none !important;
  margin-left: -5px !important;
}

// Responsive
@media screen and (max-width: 996px) {

  .navbar-grid-menu, .navbar-grid-menu:before {
    content: "Community";
    background-image: none;
    margin-right: -10px;
  }
  .navbar-grid-link:after {
    background-image: none;
  }
}


.docItemCol_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocItem-styles-module {
    max-width: 100% !important;
  }


// Horizontal rule

.horizontal-rule {
  border-top: .5px solid white;
  border-radius: 1px;
}


//Get Started button - homepage, 404 not found



.homepage {
  background-color: #1976d2;
  color: white;
  padding: 8px 10px;
  font-weight: 300;
  font-size: 14px;
//  filter: drop-shadow(-1px 2px 2px #64696C);
  text-decoration: none;
  border: .5px solid #1976d2;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 10px;
  transition: 0.5s;
  cursor: pointer;
  a {
    color: #F1F1F1;
    text-decoration: none;
  }
  a:hover {
    color: #0046BE;
  }
}

.homepage:hover {
  background-color: #094cbf;
  color: #F1F1F1;
  padding: 8px 10px;
  font-weight: 300;
  font-size: 14px;
  transition: 0.5s;
  text-decoration: none;
  border: .5px solid #000;
  cursor: pointer;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: white;
  }
}

.homepage-mobile {
  background-color: #1976d2;
  color: white;
  padding: 8px 10px;
  font-weight: 300;
  text-decoration: none;
  border: 1px solid #3578e5;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
}


@media screen and (max-width: 996px) {
  .homepage {
    margin-right: 50px;
  }
}

@media screen and (max-width: 479px) {
  .homepage {
    display: none;
  }
}




// Admonitions
.alert {
  border-radius: 0;
}

// NOTE
html[data-theme='dark'] .alert--secondary {
  --ifm-alert-background-color: rgba(32, 201, 151, 0.05);
  --ifm-alert-border-color: #20c997;
  border-left: 6px solid #20c997;
  --ifm-alert-color: #ffffff;
  .admonition-icon {
    --ifm-alert-foreground-color: #20c997 !important;
  }
  a {
    //font-weight: bold;
    color: rgb(58, 204, 180);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

html[data-theme='light'] .alert--secondary {
  background-color: rgba(32, 201, 151, 0.05);
  --ifm-alert-color: #20c997;
  --ifm-alert-border-color: #20c997;
  border-left: 6px solid #20c997;
  --ifm-alert-color: var(--ifm-font-color-base);
  --ifm-alert-foreground-color: #1d4238;
  .admonition-icon {
    --ifm-alert-foreground-color: #137c5d !important;
  }
  a {
    //font-weight: bold;
    color: rgb(0, 196, 163);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

// SUMO
html[data-theme='dark'] .theme-admonition-sumo {
  background-color: rgba(0, 0, 153, 0.1);
  --ifm-alert-border-color: #000099;
  border-left: 6px solid #000099;
  --ifm-alert-color: #ffffff;
  .admonition-icon {
    background-color: #000099;
    padding: 5px 5px 0px 5px;
  }
  padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
  a {
   // font-weight: bold;
    color: #2f5fff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

html[data-theme='light'] .theme-admonition-sumo {
  background-color: rgba(0, 0, 153, 0.05);
  color: #000046;
  --ifm-alert-color: #000099;
  --ifm-alert-border-color: #000099;
  border-left: 6px solid #000099;
  --ifm-alert-color: var(--ifm-font-color-base);
  --ifm-alert-foreground-color: #000099;
  .admonition-icon {
    background-color: #001799;
    padding: 5px 5px 0px 5px;
  }
  padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
  a {
    //font-weight: bold;
    color: #2f5fff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

// IMPORTANT
html[data-theme='light'] .alert--info {
  --ifm-alert-background-color: rgba(0, 139, 178, 0.05);
  --ifm-alert-border-color: #008bb2;
  border-left: 6px solid #008bb2;
  --ifm-alert-color: var(--ifm-font-color-base);
  .admonition-icon {
    --ra-admonition-icon-color: #008bb2 !important;
  }
  a {
    //font-weight: bold;
    color: #008bb2;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

html[data-theme='dark'] .alert--info {
  --ifm-alert-background-color: rgba(0, 139, 178, 0.05);
  --ifm-alert-border-color: #008bb2;
  border-left: 6px solid #008bb2;
  --ifm-alert-color: #ffffff;
  .admonition-icon {
    --ifm-alert-foreground-color: #008bb2 !important;
  }
  a {
    //font-weight: bold;
    color: #008bb2;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

// TIP
html[data-theme='light'] .alert--success {
  --ifm-alert-background-color: rgba(63, 146, 63, 0.05);
  --ifm-alert-border-color: #3f923f;
  border-left: 6px solid #3f923f;
  --ifm-alert-color: var(--ifm-font-color-base);
  .admonition-icon {
    --ifm-alert-foreground-color: #3f923f !important;
  }
  a {
    //font-weight: bold;
    color: #2abb2a;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

html[data-theme='dark'] .alert--success {
  --ifm-alert-background-color: rgba(63, 146, 63, 0.05);
  --ifm-alert-border-color: #3f923f;
  border-left: 6px solid #3f923f;
  --ifm-alert-color: #ffffff;
  .admonition-icon {
    --ifm-alert-foreground-color: #3f923f !important;
  }
  a {
    //font-weight: bold;
    color: #2abb2a;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

// CAUTION
html[data-theme='light'] .alert--warning {
  --ifm-alert-background-color: rgba(255, 141, 3, 0.05);
  --ifm-alert-border-color: #ff8d03;
  border-left: 6px solid #ff8d03;
  --ifm-alert-color: var(--ifm-font-color-base);
  border-radius: 0;
  .admonition-icon {
    --ra-admonition-icon-color: #ff8d03 !important;
  }
  a {
    //font-weight: bold;
    color: #ff8d03;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

html[data-theme='dark'] .alert--warning {
  --ifm-alert-background-color: rgba(255, 141, 3, 0.05);
  --ifm-alert-border-color: #ff8d03;
  border-left: 6px solid #ff8d03;
  --ifm-alert-color: #ffffff;
  border-radius: 0;
  .admonition-icon {
    --ifm-alert-foreground-color: #ff8d03 !important;
  }
  a {
    //font-weight: bold;
    color: #ff8d03;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

// WARNING
html[data-theme='light'] .alert--danger {
  --ifm-alert-background-color: rgba(223, 75, 48, 0.05);
  --ifm-alert-border-color: #df4b30;
  border-left: 6px solid #df4b30;
  --ifm-alert-color: var(--ifm-font-color-base);
  .admonition-icon {
    --ra-admonition-icon-color: #df4b30 !important;
  }
  a {
    //font-weight: bold;
    color: #df4b30;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

html[data-theme='dark'] .alert--danger {
  --ifm-alert-background-color: rgba(223, 75, 48, 0.05);
  --ifm-alert-border-color: #df4b30;
  border-left: 6px solid #df4b30;
  --ifm-alert-color: #ffffff;
  .admonition-icon {
    --ifm-alert-foreground-color: #df4b30 !important;
  }
  a {
    //font-weight: bold;
    color: #df4b30;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

// Mermaid Styles
html[data-theme='light'] .arrowheadPath {
  fill: #333333 !important;
}

html[data-theme='light'] .edgePath .path {
  stroke: #333333 !important;
}

html[data-theme='light'] .node rect {
  stroke: #2196F3 !important;
  fill: #E1F4FD !important;
}

html[data-theme='light'] .label {
  color: #333333 !important;
}

html[data-theme='light'] .node circle {
  stroke: #2196F3 !important;
  fill: #E1F4FD !important;
}

html[data-theme='light'] .node ellipse{
  stroke: #2196F3 !important;
  fill: #E1F4FD !important;
}

html[data-theme='light'] .node polygon {
  stroke: #2196F3 !important;
  fill: #E1F4FD !important;
}

html[data-theme='dark'] .node rect {
  stroke: #2196F3 !important;
}

html[data-theme='dark'] .node circle {
  stroke: #2196F3 !important;
}

html[data-theme='dark'] .node ellipse{
  stroke: #2196F3 !important;
}

html[data-theme='dark'] .node polygon {
  stroke: #2196F3 !important;
}



// Hub pages

.box-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(150px, 2fr);
  grid-gap: 10px;
}

.box1 h3,
.box2 h3,
.box3 h3,
.box4 h3,
.box5 h3,
.box6 h3,
.box7 h3,
.box8 h3,
.box9 h3,
.box10 h3 {
  margin-top: 20px;
}

.boxwidetop h3 {
  margin-top: 20px;
}

.box1 img,
.box2 img,
.box3 img,
.box4 img,
.box5 img,
.box6 img,
.box7 img,
.box8 img,
.box9 img,
.box10 img
.boxwidetop img {
  margin-top: 16px;
}

.box1 {
  grid-column: 1;
  grid-row: 1;
  padding: 4px;
  font-size: .9rem;
}

.box2 {
  grid-column: 2;
  grid-row: 1;
  padding: 4px;
  font-size: .9rem;
}

.box3 {
  grid-column: 3;
  grid-row: 1;
  padding: 4px;
  font-size: .9rem;
}

.box4 {
  grid-column: 1;
  grid-row: 2;
  padding: 4px;
  font-size: .9rem;
}

.box5 {
  grid-column: 2;
  grid-row: 2;
  padding: 4px;
  font-size: .9rem;
}

.box6 {
  grid-column: 3;
  grid-row: 2;
  padding: 4px;
  font-size: .9rem;
}

.box7 {
  grid-column: 1;
  grid-row: 3;
  padding: 4px;
  font-size: .9rem;
}

.box8 {
  grid-column: 2;
  grid-row: 3;
  padding: 4px;
  font-size: .9rem;
}

.box9 {
  grid-column: 3;
  grid-row: 3;
  padding: 4px;
  font-size: .9rem;
}

.box10 {
  grid-column: 1;
  grid-row: 4;
  padding: 4px;
  font-size: .9rem;
}

.boxwidetop {
  margin-bottom: 30px;
  padding: 8px;
  font-size: .9rem;
}

.boxwidebottom {
  margin-top: 30px;
  padding: 8px;
  font-size: .9rem;
}

.smallbox1 h4,
.smallbox2 h4,
.smallbox3 h4,
.smallbox4 h4,
.smallbox5 h4,
.smallbox6 h4,
.smallbox7 h4,
.smallbox8 h4,
.smallbox9 h4,
.smallbox10 h4,
.smallbox11 h4,
.smallbox12 h4,
.smallbox13 h4,
.smallbox14 h4,
.smallbox15 h4,
.smallbox16 h4,
.smallbox17 h4,
.smallbox18 h4,
.smallbox19 h4,
.smallbox20 h4,
.smallbox21 h4,
.smallbox22 h4,
.smallbox23 h4,
.smallbox24 h4,
.smallbox25 h4,
.smallbox26 h4,
.smallbox27 h4,
.smallbox28 h4,
.smallbox29 h4,
.smallbox30 h4,
.smallbox31 h4,
.smallbox32 h4,
.smallbox33 h4,
.smallbox34 h4,
.smallbox35 h4,
.smallbox36 h4,
.smallbox37 h4,
.smallbox38 h4,
.smallbox39 h4,
.smallbox40 h4,
.smallbox41 h4,
.smallbox42 h4,
.smallbox43 h4,
.smallbox44 h4,
.smallbox45 h4,
.smallbox46 h4,
.smallbox47 h4, {
  margin-top: 10px;
}

.smallbox1 img,
.smallbox2 img,
.smallbox3 img,
.smallbox4 img,
.smallbox5 img,
.smallbox6 img,
.smallbox7 img,
.smallbox8 img,
.smallbox9 img,
.smallbox10 img,
.smallbox11 img,
.smallbox12 img,
.smallbox13 img,
.smallbox14 img,
.smallbox15 img,
.smallbox16 img,
.smallbox17 img,
.smallbox18 img,
.smallbox19 img,
.smallbox20 img,
.smallbox21 img,
.smallbox22 img,
.smallbox23 img,
.smallbox24 img,
.smallbox25 img,
.smallbox26 img,
.smallbox27 img,
.smallbox28 img,
.smallbox29 img,
.smallbox30 img,
.smallbox31 img,
.smallbox32 img,
.smallbox33 img,
.smallbox34 img,
.smallbox35 img,
.smallbox36 img,
.smallbox37 img,
.smallbox38 img,
.smallbox39 img,
.smallbox40 img,
.smallbox41 img,
.smallbox42 img,
.smallbox43 img,
.smallbox44 img,
.smallbox45 img,
.smallbox46 img,
.smallbox47 img, {
  margin-top: 16px;
}

.smallbox1 {
  grid-column: 1;
  grid-row: 1;
  padding: 1px;
  width: 225px !important;
  font-size: .9rem;
}

.smallbox2 {
  grid-column: 2;
  grid-row: 1;
  padding: 1px;
  width: 225px !important;
  font-size: .9rem;
}

.smallbox3 {
  grid-column: 3;
  grid-row: 1;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox4 {
  grid-column: 1;
  grid-row: 2;
  padding: 1px;
  font-size: .9rem;
  width: 225px !important;
}

.smallbox5 {
  grid-column: 2;
  grid-row: 2;
  padding: 1px;
  width: 225px !important;
  font-size: .9rem;
}

.smallbox6 {
  grid-column: 3;
  width: 225px !important;
  grid-row: 2;
  padding: 1px;
  font-size: .9rem;
}

.smallbox7 {
  grid-column: 1;
  width: 225px !important;
  grid-row: 3;
  padding: 1px;
  font-size: .9rem;
}

.smallbox8 {
  grid-column: 2;
  grid-row: 3;
  padding: 1px;
  font-size: .9rem;
  width: 225px !important;
}

.smallbox9 {
  grid-column: 3;
  grid-row: 3;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox10 {
  grid-column: 1;
  grid-row: 4;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox11 {
  grid-column: 2;
  grid-row: 4;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox12 {
  grid-column: 3;
  grid-row: 4;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}
.smallbox13 {
  grid-column: 1;
  grid-row: 5;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox14 {
  grid-column: 2;
  grid-row: 5;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox15 {
  grid-column: 3;
  grid-row: 5;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox16 {
  grid-column: 1;
  grid-row: 6;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}
.smallbox17 {
  grid-column: 2;
  grid-row: 6;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox18 {
  grid-column: 3;
  grid-row: 6;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox19 {
  grid-column: 1;
  grid-row: 7;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox20 {
  grid-column: 2;
  grid-row: 7;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox21 {
  grid-column: 3;
  grid-row: 7;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox22 {
  grid-column: 1;
  grid-row: 8;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox23 {
  grid-column: 2;
  grid-row: 8;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox24 {
  grid-column: 3;
  grid-row: 8;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox25 {
  grid-column: 1;
  grid-row: 9;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox26 {
  grid-column: 2;
  grid-row: 9;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox27 {
  grid-column: 3;
  grid-row: 9;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox28 {
  grid-column: 1;
  grid-row: 10;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox29 {
  grid-column: 2;
  grid-row: 10;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox30 {
  grid-column: 3;
  grid-row: 10;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox31 {
  grid-column: 1;
  grid-row: 11;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox32 {
  grid-column: 2;
  grid-row: 11;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox33 {
  grid-column: 3;
  grid-row: 11;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox34 {
  grid-column: 1;
  grid-row: 12;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox35 {
  grid-column: 2;
  grid-row: 12;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox36 {
  grid-column: 3;
  grid-row: 12;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox37 {
  grid-column: 1;
  grid-row: 13;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox38 {
  grid-column: 2;
  grid-row: 13;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox39 {
  grid-column: 3;
  grid-row: 13;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox40 {
  grid-column: 1;
  grid-row: 14;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox41 {
  grid-column: 2;
  grid-row: 14;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox42 {
  grid-column: 3;
  grid-row: 14;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox43 {
  grid-column: 1;
  grid-row: 15;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox44 {
  grid-column: 2;
  grid-row: 15;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox45 {
  grid-column: 3;
  grid-row: 15;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox46 {
  grid-column: 1;
  grid-row: 16;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.smallbox47 {
  grid-column: 2;
  grid-row: 16;
  width: 225px !important;
  padding: 1px;
  font-size: .9rem;
}

.card {
  transition: 0.3s;
  border-radius: 4px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

html[data-theme='dark'] .card:hover {
  border-top: 4px solid var(--ds-blue-700);
  transition: none;
}

.container {
  padding: 2px 16px;
  margin: 0 auto;
  max-width: var(--ifm-container-width);
}

.container-landpage, .container-reverse {
  padding: 1rem;
  margin: 3%;
  display: flex;
}

.column-left p,
.column-right p {
  font-size: 15px;
}

.column-left {
  width: 100%;
  padding-top: 1rem;
}

.column-right {
  width: 80%;
}




// *******  MEGA AND MORE *********

.dropdown__label {
  font-size: 0.85rem;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #6c7993;
}

.dropdown__link {
  font-size: .9rem !important;
  margin-top: 0;
}

.dropdown__link:hover .link {
  color: var(--ifm-navbar-link-hover-color);
}

.dropdown__menu {
  padding: 0;
  max-height: 100vh;
}


.dropdown__menu--mega {
  padding: calc(var(--ifm-navbar-padding-vertical) + 1rem)
    var(--ifm-navbar-padding-horizontal) !important;
}

.card--pointer {
  cursor: pointer;
}

.card-radius--md {
  border-radius: 60px;
}

.card__image {
  background: linear-gradient(180deg, #001c56, #074db6);
  width: 100%;
  height: auto;
}

.card__header {
  text-align: center;
}

.card__footer {
  text-align: center;
}

.card-background:hover {
  background: var(--ifm-color-emphasis-200);
}


.padding-vert--xl {
  padding-bottom: .1rem !important;
  padding-top: 5rem !important;
}

.image-gallery {
  display: grid;
}

.image-gallery-content {
  overflow: hidden;
}

.image-gallery-content.fullscreen {
  align-self: center;
}

.image-gallery-icon:hover {
  color: var(--ifm-color-emphasis-200) !important;
}

.image-gallery-image {
  background: var(--ifm-color-emphasis-200);
}

.image-gallery-video {
  max-width: 100%;
}

.image-gallery-thumbnail-image {
  object-fit: cover;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  border: 4px solid var(--ifm-color-emphasis-500) !important;
}

// VIDEO

.video-container {
  overflow: hidden;
  position: relative;
  width:100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//LANDING

.spacer {
  padding: 2rem 0;
  width: 100%;
}

.land-box {
  display: flex;
  align-items: stretch;
  max-width: 300px;
}


.land-feature {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}

.land-title {
  font-size: 1rem;
  margin-bottom: 0px;
}

.land-body {
  margin-left: 5px;
}

.land-desc {
  max-height: 100px;
  font-size: .95rem;
}

.land-image {
  width: 60px;
  padding: 5px;
}

html[data-theme='dark'] .featureImage {
  filter: grayscale(1) brightness(3);
}

.land-link a {
  color: var(--ifm-font-base-color);
  text-decoration: none;
  transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  :hover {
    color: var(--ifm-font-base-color);
  }
}

.land-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

@media screen and (max-width: 996px) {
  .land-box, .highlight-box {
    height: auto;
  }
  .nav-break {
    border-top: 1px solid rgb(156, 156, 156);
    border-left: 0px;
  }

}


// Blog Styles

.title_node_modules-\@docusaurus-theme-classic-lib-theme-BlogPostItem-Header-Title-styles-module {
  font-size: 1.5rem !important;
}

.sidebarItemLink_node_modules-\@docusaurus-theme-classic-lib-theme-BlogSidebar-Desktop-styles-module {
  font-size: .75rem !important;
}


.sidebarItemTitle_node_modules-\@docusaurus-theme-classic-lib-theme-BlogSidebar-Desktop-styles-module {
  font-size: 1.2rem !important;
  padding: 0 !important;
}

.title_f1Hy {
  font-size: 1.5rem !important;
}

.sidebarItem__DBe {
  font-size: .75rem !important;
  padding: 0 !important;
}

//if above fails, try....
//.sidebarItemList_Yudw {
//  font-size: .75rem !important;
//}


//Blog Author
.avatar__name {
  font-size: .9rem !important;
}

.margin-bottom--blog {
  margin-bottom: 2rem;
}

.sidebarItemTitle {
  margin-bottom: 0.5rem;
  color: var(--subtle);
}




// Sumo badges

.beta {
  background: #C6007E;
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 10px;
}

.sl-embed {
  position: relative;
  padding-bottom: calc(49.38% + 27px);
  width: 100%;
  height: 100%;
//transform: scale(1);
}

.sl-demo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}




/* The container */
.label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.label-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.label-container input:checked ~ .checkmark {
  background-color: #007E33;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.label-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container-boxes {
  overflow: hidden; /* Clear the floats */
}

.dos-box {
  background-color: #91CF91;
  color: #212121;
  border-top: 8px solid #12863a;
  padding: 10px;
  border-radius: 1px;
  width: 40%;
  margin-left: 10px;
  margin-right: 1px;
  margin-bottom: 2px;
  float: left;
  box-sizing: border-box;
  line-height: 26pt;
}

.donts-box {
  background-color: #E59FA1;
  color: #000000;
  border-top: 8px solid #e60e0e;
  padding: 10px;
  border-radius: 1px;
  width: 40%;
  margin-bottom: 2px;
  float: left;
  box-sizing: border-box;
  line-height: 26pt;
}



.yes-box {
  background-color: #91CF91;
  color: #212121;
  border-left: 8px solid #12863a;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}

.no-box {
  background-color: #E59FA1;
  color: #000000;
  border-left: 8px solid #e60e0e;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}
