
:root {
  --ifm-color-primary: #3578e5;
  --ifm-color-primary-dark: #1d68e1;
  --ifm-color-primary-darker: #1b62d4;
  --ifm-color-primary-darkest: #1751af;
  --ifm-color-primary-light: #4e89e8;
  --ifm-color-primary-lighter: #5a91ea;
  --ifm-color-primary-lightest: #80aaef;
  --ifm-color-border-pale: rgba(29, 43, 69, .20);
  --ifm-code-font-size: 100%;
  --ifm-font-family-headings: Roboto, 'Segoe UI';
  --ifm-font-family-base: Roboto,sans-serif;
  --ifm-menu-link-padding-horizontal: 1rem;
  --ifm-menu-link-padding-vertical: 0.2rem;
  --ifm-footer-link-hover-color: #06bcee;
  //--ifm-menu-link-sublist-icon: url('folder.png');
  //--ifm-menu-link-sublist-icon-open: url('folder-open.png');
  --ifm-font-size-base: 1.1rem;
  --doc-sidebar-width: 275px !important;
  --ifm-h1-font-size: 2rem;
  --ifm-h2-font-size: 1.5rem;
  --ifm-h3-font-size: 1.25rem;
  --ifm-h4-font-size: 1rem;
  --ifm-h5-font-size: 0.875rem;
  --ifm-h6-font-size: 0.85rem;
  --ifm-navbar-link-hover-color: #06bcee;
  --ifm-code-font-size: .85rem;
  --ifm-font-family-base: "Lab Grotesque",sans-serif;
  --ifm-font-family-headings: "Lab Grotesque", "Segoe UI";

}

html[data-theme='dark'] {
  --ifm-background-color: #101827;
  --ifm-navbar-background-color: #101827;
  --collapse-button-bg-color-dark: transparent !important;
  --ifm-toc-border-color: rgba(29, 43, 69, .9);
  --ifm-code-background: #172b42;
  --ifm-dropdown-background-color: #1A253B;
  --ifm-footer-background-color: #1a273f;
  --ifm-table-stripe-background: rgba(29, 43, 69, .50);
  --ifm-table-head-background: rgba(0, 164, 219, 0.35);
  --ifm-table-border-color: rgba(59, 91, 110, 0.35);
  }

html[data-theme='light'] {
  --ifm-background-color: #fff;
  --ifm-navbar-background-color: #fff;
  --ifm-toc-border-color: rgba(29, 43, 69, .3);
  --ifm-font-color-base: #2e2e2e;
  --ifm-footer-background-color: #1a273f;
  --ifm-menu-color: var(--ifm-font-color-base);
  --ifm-table-stripe-background: rgb(241, 244, 247);
  --ifm-table-head-background: rgba(0, 139, 178, 0.397);
  --ifm-table-border-color: rgba(25, 43, 54, 0.35);
  }
