name: Pull Request Checks

permissions:
  contents: read

on:
  pull_request:
    branches:
      - main
  merge_group:
    types:
      - checks_requested

env:
  CI: true
  NODE_ENV: production
  NODE_OPTIONS: "--max-old-space-size=8192 --max-http-header-size=8192"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          cache: 'yarn'
      - name: Docusaurus Webpack cache
        uses: actions/cache@v3
        with:
          path: node_modules/.cache
          key: ${{ runner.os }}-webpack-cache-${{ hashFiles('yarn.lock') }}
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build the Docusaurus site
        run: yarn build
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: codespell-project/actions-codespell@master
        name: Check spelling
        with:
          skip: "*.svg,*.js,*.map,*.css,*.scss"
          ignore_words_list: "aks,atleast,cros,ddress,fiel,ist,nd,ot,pullrequest,ser,shttp,wast,fo,seldomly,delt,cruzer,plack,secur,te,nginx,Nginx,notin"
          path: docs
