name: Pull Request Checks

on:
    pull_request:
      branches:
        - main

jobs:
  deploy-to-review:
    uses: SumoLogic/sumologic-documentation/.github/workflows/build_and_deploy.yml@main
    with:
      hostname: https://d2t1s0ah22jxsa.cloudfront.net
      base_url: /${{ github.ref_name }}/
      environment: review/${{ github.ref_name }}
    secrets:
      S3_BUCKET_NAME: ${{ secrets.REVIEW_S3_BUCKET_NAME }}
      CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.REVIEW_CLOUDFRONT_DISTRIBUTION_ID }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: codespell-project/actions-codespell@master
        name: Check spelling
        with:
          skip: "*.svg,*.js,*.map,*.css,*.scss"
          ignore_words_list: "aks,atleast,cros,fiel,ist,ot,pullrequest,ser,shttp,fo,seldomly,delt,cruzer,plack,te"
          path: docs
