name: Pull Request Checks

on:
    pull_request:
      branches:
        - main
    merge_group:

jobs:
    build-and-deploy:
      runs-on: ubuntu-20.04
      env:
          CI: true
          NODE_ENV: production
      steps:
        - uses: actions/checkout@v3
        - name: Set up Node.js
          uses: actions/setup-node@v3
          with:
            node-version: '18.x'
            cache: 'yarn'
        - name: Docusaurus Webpack cache
          uses: actions/cache@v3
          with:
            path: node_modules/.cache
            key: ${{ runner.os }}-webpack-cache
        - name: Install dependencies
          run: yarn install --frozen-lockfile
        - name: Build the Docusaurus site
          env:
            NODE_OPTIONS: "--max-old-space-size=8192"
          run: yarn build
    spellcheck:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v3
      - uses: codespell-project/actions-codespell@master
        name: Check spelling
        with:
          skip: "*.svg,*.js,*.map,*.css,*.scss"
          ignore_words_list: "aks,atleast,cros,ddress,fiel,ist,ot,pullrequest,ser,shttp,fo,seldomly,delt,cruzer,plack,secur,te"
          path: docs