name: Pull Request checks


on:
    pull_request:
      branches:
        - main
    push:
      paths-ignore:
        - '.github/**'
        - 'README.md'
    workflow_dispatch:


jobs:
    build-and-deploy:
      runs-on: ubuntu-20.04
      environment:
        name: ${{ inputs.environment }}
        url: ${{ inputs.hostname }}${{ inputs.base_url }}
      env:
          CI: true
          NODE_ENV: production
          AWS_PAGER: ""
          HOSTNAME: ${{ inputs.hostname }}
          BASE_URL: ${{ inputs.base_url }}
          AWS_DEFAULT_REGION: us-east-1
          AWS_EC2_METADATA_DISABLED: "true"
      steps:
        - uses: actions/checkout@v2.4.0
        - name: Set up Node.js
          uses: actions/setup-node@v2
          with:
            node-version: '17.x'
            cache: 'yarn'
        - name: Install awscli
          uses: unfor19/install-aws-cli-action@v1
        - name: Install jq
          run: sudo apt-get install jq
        - name: Install dependencies
          run: yarn install --frozen-lockfile
        - name: Build the Docusaurus site
          run: yarn build
