name: deploy-to-production

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  deploy-to-staging:
    uses: SumoLogic/sumologic-documentation/.github/workflows/build_and_deploy.yml@main
    with:
      hostname: https://help.sumologic.com
      environment: production
    secrets:
      S3_BUCKET_NAME: ${{ secrets.PRODUCTION_S3_BUCKET_NAME }}
      CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.PRODUCTION_CLOUDFRONT_DISTRIBUTION_ID }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
